/* Header */
header{
	background:#175d7b;
	margin:0px;
	min-height:75px;
	border-bottom:2px solid #3b474c;
}
header h1{
	margin:0px;
	margin-right:10%;
	color:#fff;
	padding:15px 0px 15px 45px;
	font:30px/1.5 Lato, sans-serif;
	font-weight:bold;
	font-style:italic;
	float:left;
}